<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <script src="../Routes/adminController.js"></script>
</head>
<body>
    <h1>Add Administrator</h1>
    <form action="/admin/administration" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Add Administrator">
    </form>
</body>
</html>
