<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../App.js"></script>
    <script src="../Routes/userController.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- registeration form  using username, name, email, password, date of birth, gender, mobile number, emergency contact (full name, mobile number)-->
    <form action="/addUser" method="POST" >
        <!-- name -->
        <input type="text" id="name" name="name" placeholder="name"> <br>
        <!-- username -->
        <input type="text" name="username" placeholder="username"><br>
        <!-- email -->
        <input type="email" name="email" placeholder="email"><br>
        <!-- password -->
        <input type="password" name="password" placeholder="password"><br>
        <!-- date of birth -->
        <input type="date" name="dob" placeholder="date of birth"><br>
        <!-- dropdown menue -->
        <select name="gender" id="gender"> 
            <option value="rigatoni">Male</option> 
            <option value="dave">Female</option> 
        </select><br>
        <!-- mobile -->
        <input type="number" name="mobile" placeholder="mobile"><br>
        <!-- emergency contact -->
        <input type="text" name="emergency_name" placeholder="emergency contact">
        <input type="number" name="emergency_phone" placeholder="mobile">



        <input type="submit" value="Register">

    </form>
</body>
</html>