/* Sidebar.css */
.sidebar {
    height: 100%;
    zoom: 85%;
    background: white; /* Set background gradient as needed */
    overflow: hidden;
    transition: width 0.3s ease; /* Add a smooth transition effect */
    position: fixed;
    left: 0;
    top: 0;
  }
  
  /* Add additional styling as needed */
  