<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Packages new</title>
</head>
<script>
    
  function hello(){
    const session_dis=document.getElementById("session_dis").value;
    const pharmacy_dis=document.getElementById("pharmacy_dis").value;
    const family_dis=document.getElementById("family_dis").value;
        if(session_dis>100 || session_dis<0){
            alert("Discount should not exceed 100 and can not be negetive");
        }
        if(pharmacy_dis>100 || pharmacy_dis<0){
            alert("Discount should not exceed 100 and can not be negetive");
        }
        if(family_dis>100 || family_dis<0){
            alert("Discount should not exceed 100 and can not be negetive");
        }
    }
  
</script>
<body>  
    <form action="/admin/packages" method="POST" > 
    <label> Package Name </label>         
    <input type="text" name="packagename" size="15"/> <br> <br>   
    <label> Package Price </label> 
    <input type="number" id="price" name="price" placeholder="Enter Price in pounds" /> <br> <br>  
    <label>Session Discount</label> 
    <input type="number" name="session_dis" id="session_dis" placeholder="Max 100" max="100"/> <br> <br>  
    <label>Pharmacy Discount</label> 
    <input type="number" name="pharmacy_dis" id="pharmacy_dis" placeholder="Max 100"max="100" /> <br> <br>  
    <label>Family Discount</label> 
    <input type="number" name="family_dis" id="family_dis" placeholder="Max 100" max="100" /> <br> <br>  
    <button onclick="hello()" type="submit">Submit</button>
    </form>  
</body>
</html>