<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../App.js"></script>
    <script src="../Routes/adminController.js"></script>
</head>
<body>
    <h1>Hi Administrator</h1> <br>

    <a href="/admin/applications">View Applications</a><br><br>
    <a href="/admin/packages">packages </a><br><br>
    <form action="/admin/administration" method="get">
        <button type="submit">Add Administrator</button>
    </form>

    
</body>
</html>