<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../App.js"></script>
    <script src="../Routes/doctorController.js"></script>
    <style>table {
        border-collapse: separate;
        border-spacing: 50px 0;
      }
      
      td {
        padding: 10px 0;
      }</style>
</head>
<body>
    <a href="/doctor/profile">View Profile</a> <br><br>
    <a href="/doctor/myPatients">View My Patients</a> <br><br>
   
    <button type="button" id="allApp">View All Appointments </button>

    <form id="filterForm" style="display: none;">
        <label for="dropdown">Search for an appointment by appointment status:</label>

        <select name="status" id="status">  
            <option value="null">null</option> 
            <option value="upcoming">upcoming</option> 
            <option value="completed">completed</option> 
            <option value="cancelled">cancelled</option>
            <option value="resecheduled">resecheduled</option> 

 

        </select>
        <label for="date">Search for an appointment by date:</label>
        <input type="date" id="Sdate" name="Start date">
        <input type="date" id="Edate" name="End date">

        <button type="button" id="appSearch">Search for an appointment </button>
    </form>
    <br><br>
    <div id="searchResults">
    </div>
    
</body>
<script>
     const appDate = document.getElementById('Sdate');
     const appEDate = document.getElementById('Edate');

        const appStatus = document.getElementById('status');
        const searchAppBtn = document.getElementById('appSearch'); 
        const allAppBtn = document.getElementById('allApp'); 

        function displayAppointments(appointments) {
            const resultContainer = document.getElementById('searchResults');

    // Clear any previous search results
            resultContainer.innerHTML = '';

        if (appointments.length === 0) {
            resultContainer.innerHTML = '<p>No appointments found.</p>';
        } else {
            // Create a table element
            const table = document.createElement('table');

            // Create table header
            const tableHeader = document.createElement('thead');
            tableHeader.innerHTML = `
                <tr>
                    <th>Patient's Username</th> 
                    <th>Patient's Name</th>
                    <th>Appointment Start Time</th>
                    <th>Appointment End Time</th>

                    <th>Appointment Status</th>
                </tr>
            `;
            table.appendChild(tableHeader);

            // Create table body
            const tableBody = document.createElement('tbody');

            appointments.forEach((app) => {
                // Create a table row for each doctor
                const row = document.createElement('tr');

                // Create table data cells for Name and Speciality
                const usernameCell = document.createElement('td');
                usernameCell.textContent = app.PatientUsername;

                const nameCell = document.createElement('td');
                nameCell.textContent = app.PatientName;

                
                const StartdateCell = document.createElement('td');
                StartdateCell.textContent = app.StartDate;
                const EnddateCell = document.createElement('td');
                EnddateCell.textContent = app.EndDate;
                const statusCell = document.createElement('td');
                statusCell.textContent = app.Status;

                // Append cells to the row
                row.appendChild(usernameCell);
                row.appendChild(nameCell);
                row.appendChild(StartdateCell);
                row.appendChild(EnddateCell);

                row.appendChild(statusCell);

                // Append the row to the table body
                tableBody.appendChild(row);
        });

        // Append the table body to the table
        table.appendChild(tableBody);

        // Append the table to the result container
        resultContainer.appendChild(table);
    }
}
searchAppBtn.addEventListener('click', async () => {
            console.log('Button clicked');
            const searchQuery = {
                sDate: appDate.value.trim(),
                eDate:appEDate.value.trim(),
                status:appStatus.value.trim(),
            };
    
            try {
                const response = await fetch('doctor/search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(searchQuery),
                });
                console.log('heree1')

    
                if (response.ok) {
                    console.log('heree')

                    const BookedAppointments = await response.json();
                    displayAppointments(BookedAppointments)

                    // Call a function to display the doctors
                } else {
                    console.error('Error searching appointments:', response.statusText);
                }
            } catch (error) {
                console.error('Error searching appointments:', error);
            }
        });
        allAppBtn.addEventListener('click', async () => {
           
    
            try {
                const response = await fetch('doctor/allApp', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                console.log('heree1')

    
                if (response.ok) {
                    console.log('heree')

                    const BookedAppointments = await response.json();
                    displayAppointments(BookedAppointments)
                    filterForm.style.display = 'block';

                    // Call a function to display the doctors
                } else {
                    console.error('Error searching appointments:', response.statusText);
                }
            } catch (error) {
                console.error('Error searching appointments:', error);
            }
        });
       
</script>
</html>