<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome To Pill Stack Clinic </h1>
    <!-- button GET /doc_register -->
    <a href="/doc_register">Register as Doctor</a> <br>
    <!-- button GET /register -->
    <a href="/register">Register as Patient</a> <br>
    <!-- button GET /doctor -->
    <a href="/doctor">Doctor HomePage</a><br>
    <!-- button GET /admin -->
    <a href="/admin">Admin HomePage</a><br>
    
</body>
</html>