<!DOCTYPE html>
<html>
<head>
    <title>view family member</title>
</head>
<body>
    <h1>view family member</h1>
    <%= familyMembers %>
    <form action="/patient/viewFamily" method="get">
        
    </form>
</body>
</html>