.gradBG{
  background: rgb(39,92,159);
background: linear-gradient(90deg, rgba(39,92,159,0.583158263305322) 12%, rgba(0,177,219,0.5887605042016807) 78%);
}



/* *,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}

html,
body {
  height: 100%;
  width: 100%;
}

 body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 187, 204, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.form_container {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgba(0, 212, 255, 1);
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgba(0, 212, 255, 1);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgba(0, 212, 255, 1);
}

*/
.home_page {
  /* height: 100vh; */
  /* width: 100vw; */
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.home_page span {
  color: rgba(0, 212, 255, 1);
}

.home_page button {
  background-color: rgb(27, 73, 83);
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: 1px solid rgba(0, 212, 255, 1);
}

.home_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}


@media only screen and (max-width: 1200px){
  .home_page{
    font-size: 1.5rem;
  }
  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
} 
.med_page {
  margin: 0;
  padding: 0;
  color: #000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  flex-direction: column;
  gap: 1rem;
}
.medicine-grid {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns per row */
  gap: 20px; /* Adjust the gap between items as needed */
  justify-items: center;
  align-content: center; /* Center grid items vertically in each row */

}

.medicine-card {
  text-align: center; /* Center the content inside each medicine card */
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.medicine-card img {
  max-height: 100%; /* Ensure images maintain their aspect ratio */
  width: auto; /* Adjust image width as needed */
}
.medicine-card h2 {
  margin: 10px 0; /* Add margin to separate the name from the image */
}


.med_page button {
  background-color: rgb(27, 73, 83);
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: 1px solid rgba(0, 212, 255, 1);
}

.med_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}

.separator {
  border-top: 2px solid #000; /* Customize the color and thickness as needed */
  width: 100%;
  margin-top: 10px; /* Adjust the margin to control the gap between medicines */
}
.modal-overlay {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.modal {

  z-index: 3;
  display: block;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); 
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 400px; /* Customize the width as needed */
  box-shadow: 0 0 10px rgba(223, 212, 212, 0.2);
  text-align: center;
  justify-content: center;

}
.success-message {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px; /* Padding for the message */
  text-align: center; /* Center-align the message */
  margin-top: 10px; /* Add some spacing above the message */
}
/* Cart Container */
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Cart Item */
.cart-item {
  display: flex;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

/* Product Image */
.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

/* Product Details */
.product-details {
  flex: 1;
}

.product-name {
  font-weight: bold;
}

/* Remove Button */
.remove-button {
  background-color: #ff5757;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #e00000;
}

/* Cart Summary */
.cart-summary {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* Checkout Button */
.checkout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}
.error-message {
  color: #ff0000;
  font-weight: bold;
  margin: 10px 0;
}


.shapeDivider{
  overflow:hidden;
  position:relative;
  }
  .shapeDivider::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 125px;
  background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23319795"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23319795"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23319795"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapeDivider::before{
  background-size: 100% calc(2vw + 125px);
  }
  }
   
  .teal-blue{
    background: rgb(44,174,216);
background: linear-gradient(180deg, rgba(44,174,216,1) 55%, rgba(49,151,149,1) 100%);
  }